<div class="wrapper" style="margin-top: 5px;">
	<!-- Tab panes -->
	<div class="tab-content">
		<div class="tab-pane active" id="section2">
			<div class="row">
				<div style="width:100%;font-size: 18px; height: 40px; padding-left: 15px;">Welcome to EdgeComputing Demo Of FPT Cloud CoE</div>
				<div class="col-md-12 space">
					<table style="width: 100%; font-size: 18px;" id="tracktable">
						<tr style="height: 30px;">
							<td style="width: 15%">
								<input type="radio" name="track" value="GREEN" checked />
							</td>
							<td>
								1. GREEN
							</td>
						</tr>
						<tr style="height: 30px;">
							<td>
								<input type="radio" name="track" value="YELLOW" />
							</td>

							<td>
								2. YELLOW
							</td>
						</tr>
						<tr style="height: 30px;">
							<td>
								<input type="radio" name="track" value="RED" />
							</td>

							<td>
								3. RED
							</td>
						</tr>
					</table>

					<div style="text-align: center">
						<input class="btn btn-success button" id="track-play-button" type="button" value="Execute" style="width: 100px; margin: 20px"/>
					</div>

					<div id="stations-view-json" style="text-align: center; color:green">
					</div>
				</div>
			</div>
		</div>
	</div><!-- Tab Content End -->
</div><!-- Wrapper End -->
<div class="wrapper" style="margin-top: 5px;">
	<div class="tab-content">
		<div class="tab-pane active" id="section2">
			<div class="row">
				<div style="width:100%;font-size: 18px; height: 40px; padding-left: 15px;">Welcome to FPT Cloud CoE Community</div>
				<div class="col-md-12 space">
					FPT Cloud CoE is a group of experts in cloud domain in FPT<br><br>
					Blog: <a href="https://blog.thecoe.cloud/">https://blog.thecoe.cloud/</a><br>
					
				</div>
			</div>
		</div>
	</div>
</div>